// Define variables for your color scheme

// For example:
$boatdarkblue: #222244;
$boatlightblue: #227799;
$yellow: #F3F031;
$green: #66B14A;
$boatgreen: #1B5456;
$skin: #FFE6CE;
$light-gray: #F6F6F6;
$gray: #333333;
$blue: #0079BF;
$red: #ED462F;
$orange: #EA742E;
$warmyellow: #FFD582;
