.modal-dialog {
  max-width: 40% !important;
  margin: 1.75rem auto !important;
  height: 50% !important;
}

.modal-content {
  height: 100%;
}

.modal-content > .form-wrapper {
  margin: auto auto !important;
}

.show-boat-container {
  background-color: white;
  width: 100%;
}

.col-left-show-boat {
  height: 820px;
}

.content-left-show-boat {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 85px;
  color: #227799;
}

.col-right-show-boat {
  background-image: url('https://images.pexels.com/photos/533595/pexels-photo-533595.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  color: white;
  font-size: 34px;
  filter: opacity(70%);
}

.show-boat-text-image {
  position: absolute;
  top: 82px;
}

.confirm-booking {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.confirm-card {
  border: 1px solid #FFD582;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.confirm-photo {
  text-align: center;
}

.confirm-photo p {
  margin-top: 10px;
}

.confirm-title {
  font-weight: bold;
  text-align: center;
}

.confirm-infos-description p {
  margin-bottom: 30px;
}

.valid-buttons {
  text-align: center;
}

.call-actions {
  text-align: center;
}

.call-button {
  background-color: #FFD582;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.call-button:hover {
  background-color: white;
  color: #FFD582;
  border: 1px solid #FFD582;
}

