.modal-dialog {
  max-width: 40% !important;
  margin: 1.75rem auto !important;
  height: 50% !important;
}

.modal-content {
  height: 100%;
}

.modal-content > .form-wrapper {
  margin: auto auto !important;
}

.show-boat-container {
  background-color: white;
  width: 100%;
}

.col-left-show-boat {
  height: 820px;
}

@media (max-width: 700px) {
  .col-left-show-boat {
    height: 1188px;
  }
}

.content-left-show-boat {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 85px;
  color: #227799;
  background: white;
  border-radius: 8px;
}

@media (max-width: 700px) {
  .content-left-show-boat {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
}

.col-right-show-boat {
  background-image: url('https://images.pexels.com/photos/533595/pexels-photo-533595.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 34px;
  filter: opacity(70%);
}

@media (max-width: 700px) {
  .col-left-show-boat {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
    background-image: url('https://images.pexels.com/photos/533595/pexels-photo-533595.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  }
  .col-left-show-boat h1 {
    font-size: 32px;
  }
}

.show-boat-text-image {
  position: absolute;
  top: 82px;
}

.confirm-booking {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .confirm-booking {
    display: grid;
    margin: 20px;
  }
}

.confirm-card {
  border: 1px solid #FFD582;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .confirm-card {
    border: 1px solid #FFD582;
    padding: 10px;
    border-radius: 5px;
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.confirm-photo {
  text-align: center;
}

.confirm-photo p {
  margin-top: 10px;
}

.confirm-title {
  font-weight: bold;
  text-align: center;
}

.confirm-infos-description p {
  margin-bottom: 30px;
}

.valid-buttons {
  text-align: center;
  margin-top: 30px;
}

.call-actions {
  text-align: center;
}

.call-button {
  background-color: #FFD582;
  color: #3D3D3D;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.call-button:hover {
  background-color: white;
  color: #FFD582;
  border: 1px solid #FFD582;
}

.call-button-2 {
  background-color: none;
  color: #227799;
  border: none;
  margin-top: 20px;
  font-size: 15px;
}

.call-button-2:hover {
  color: #86B4C7;
}
