.title-page {
  background: white;
  padding: 16px;
  margin-bottom: 16px;
}

.infos-page {
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.exterieur-form {
  background: white;
  padding: 16px;
}
