.boat-info {
  display: flex;
  justify-content: space-between;
  align-item: center;
}


.booking-info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 24px 24px 16px 24px
}

.booking-info-card img {
  margin-right: 8px;
}

.photo-upload-form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 24px 24px 16px 24px
}

.photo-buttons {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.download-button {
  margin-top: 8px;
}

.visit-form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 24px 24px 16px 24px
}

.visit-form h2 {
  margin-bottom: 32px;
}

.form-group-booking {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 2fr;
}

.form-group legend {
  font-size: 24px;
}

.style-edit-booking .form-control-label {
  opacity: 0;
}

// .visit-form-inside, .visit-form-outside, .visit-form-conlusion, .photo-upload-form {
//   background: white;
//   padding: 16px;
//   margin-bottom: 16px;
// }

.style-edit-booking .form-check-input {
  opacity: 0;
}

.style-edit-booking .form-check {
  color: lightgrey;
  cursor: pointer;
}

.form-check i {
  font-size: 48px;
}

.form-check.text-green label:hover, .form-check.text-green input:checked + label {
  color: green;
  cursor: pointer;
}

.form-check.text-orange label:hover, .form-check.text-orange input:checked + label {
  color: orange;
  cursor: pointer;
}

.pictures-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 0px;
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
}

.booking-validation {
  justify-content: flex-end
}

.camera-booking {
  font-size: 80px;
  color: #FFD582;
}
