.title-page {
  background: white;
  padding: 16px;
  margin-bottom: 16px;
}

.infos-page {
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.visit-form-inside, .visit-form-outside, .visit-form-conlusion, .photo-upload-form {
  background: white;
  padding: 16px;
  margin-bottom: 16px;
}

.style-edit-booking .form-check-input {
  opacity: 0;
}

.style-edit-booking .form-check {
  color: lightgrey;
  cursor: pointer;
}

.form-check i {
  font-size: 24px;
}

.form-check.text-green label:hover, .form-check.text-green input:checked + label {
  color: green;
  cursor: pointer;
}

.form-check.text-orange label:hover, .form-check.text-orange input:checked + label {
  color: orange;
  cursor: pointer;
}

.pictures-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 0px;
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
}
