.manager-dashboard {
  color: #1B5456;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  padding: 0;
  margin-right: 0;
  padding-right: 0;
  background-color: white;
}

.manager-dashboard-sidebar {
  width: 32vh;
  height: 100vh;
  background-color: #FFD582;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 104px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  justify-content: center
}

@media (max-width: 375px) {
  .manager-dashboard-sidebar {
    display: none;
  }
}

.manager-dashboard-menu {
  margin-left: 24px;
}

.dashboard-menu-icon {
  height: 16px;
  width: 16px;
}

.manager-dashboard-part-right {
  width: 78vw;
  margin-right: 0;
  padding-top: 88px;
  padding-right: 24px;
}

@media (max-width: 375px) {
  .manager-dashboard-sidebar {
    width: 100vw;
  }
}

.manager-dashboard-part-right-header {
  margin-top: 0px;
  margin-bottom: -128px;
  padding-left: 28px;
  background-color: rgba(0,0,0,0);
  z-index: 10;
  position: absolute;
}

.fond-rose {
  width: 798px;
  z-index: 1;
  // position: absolute;
}

@media (max-width: 375px) {
  .fond-rose {
    width: 100vw;
    margin-bottom: -112px;
  }
}

.manager-bookings {
  padding-left: 28px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-right: -24px;
  margin-top: -4px;
  background-color: #FFE6CE;
}

@media (max-width: 375px) {
  .manager-bookings {
    width: 100vw;
    padding-left: 8px;
    margin-top: 80px;
    padding-bottom: 24px;
  }
}

.booking-card {
  height: 224px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 20px;
}

@media (max-width: 375px) {
 .booking-card {
    height: 120px;
    margin-right: 8px;
    margin-bottom: -8px;
 }
}

.booking-card-img {
  width: 224px;
  height: 224px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

@media (max-width: 375px) {
  .booking-card-img {
    width: 120px;
    height: 120px;
  }
}

.booking-card-info {
  width: 304px;
  margin: 16px 0 0 56px;
}

@media (max-width: 375px) {
  .booking-card-info {
    width: 120px;
    margin: 12px 0 0 20px;
  }
}

.booking-card-info img {
  height: 24px;
  width: 24px;
}

@media (max-width: 375px) {
  .booking-card-info img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
}

@media (max-width: 375px) {
  .booking-card-info strong {
    display: none;
  }
}

@media (max-width: 375px) {
  .booking-card-info p {
    font-size: 10px;
    margin-bottom: 0.25rem;
  }
}

.booking-card-cta {
  margin: auto;
}
