// Specific CSS for your home-page

//Version tablette
.home-card {
  width: 430px;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
  color: black;
  text-align: left;
  padding: 32px;
  margin-left: 64px;
  border-radius: 10px;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url("background-image-home");
  background-size: cover;
  background-position: center;
  padding-top: 132px;
  height: 100vh;
}

.home-list {
  margin: 18px 0px;
  text-align: left;
  list-style-type: none;
  padding-inline-start: 8px;
}

.home-list li {
  margin: 18px 0px;
  color: hsl(0, 0%, 45%);
}

.tagline {
  font-size: 32px;
  padding-bottom: 8px;
  color: #3D3D3D;
  font-weight: 700;
}

.sub-tagline {
  padding-bottom: 8px;
  color: hsl(0, 0%, 29%);
  font-weight: 400;
}

.btn-cent {
  width: 100%;
  margin-top: 16px;
  background: #FFD582;
  border: none;
  font-size: 24px;
  color: #3D3D3D;
  font-weight: 700;
}

.home-price-card {
  display: flex;
  margin-top: 40px;
  align-items: baseline;
  color: hsl(0, 0%, 29%);
  font-weight: 400;
}

.home-price {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 10px;
}

// version desktop

@media(min-width: 992px) {
  .home-card {
    width: 430px;
  }
}


// version mobile

@media(max-width: 736px) {
  .home-card {
    width: 331px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
    color: black;
    text-align: left;
    padding: 22px;
    margin-left: 41px;
    border-radius: 10px;
  }
  .banner {
    width: auto;
  }
}
