// Specific CSS for your home-page
.title {
  text-align: center;
  padding-top: 260px;
  padding-right: 614px;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("https://images.pexels.com/photos/1223649/pexels-photo-1223649.jpeg?cs=srgb&dl=adventure-boat-freedom-1223649.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  height: 130vh;
}
