.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.show-packages-title {
  margin-top: 30px;
  text-align: center;
}

.card-show-packages-image {
  margin-left: 20px;
}
