.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.show-packages-page-title h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}

.show-packages-title h2 {
  text-align: center;
}

.show-packages-subtitle p {
  text-align: center;
}


.card-show-packages-image {
  margin-left: 20px;
}
