.col-right-show {
  // background-image: url('https://images.pexels.com/photos/1295036/pexels-photo-1295036.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  color: white;
  font-size: 34px;
  background-position: center;
}

.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.show-packages-title {
  margin-top: 30px;
  text-align: center;
}


.show-packages-title p {
  margin-left: 116px;
  margin-right: 116px;
}

.col-left-services {
  background-image: url("test-background.png");
  background-size: cover;
  background-position: center;
  height: 820px;
  display: flex;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;

}

.content-left-services {
  color: #227799;
  width: 100%;
}

// .card-show-packages-image {
//   margin-left: 20px;
// }


