.packages-index-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }

.hover-package {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.4;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.package-info {
  z-index: 1000;
  margin-top: 30%;
  margin-bottom: 0%;
  height: 50%;
  position: relative;
  justify-content: center;
}

.package-title {
  margin-top: 0px;
  margin-bottom: 16px;
}

.package-button {
  position: absolute;
  width: 100%;
  bottom: 36px;
}

.package-img {
  padding: 24px;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
    &:hover {
        .hover-package {
          background: black !important;
          opacity: 0.75 !important;
    }
  }
}
