.col-right-change-password {
  background-image: url('https://images.pexels.com/photos/1223648/pexels-photo-1223648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 34px;
}

.col-left-change-password {
  height: 820px;
}

@media (max-width: 700px) {
  .col-left-change-password {
  height: 740px;
  }

  .col-left-change-password {
    opacity: 0.9;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
    background-image: url('https://images.pexels.com/photos/1223648/pexels-photo-1223648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }
}
