.content-left.date{
  text-align: center;
  margin-top: 200px;
  margin-left: 0px;
  margin-right: 0px;
}

.form-inline.date {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.datetimepicker.date {
  width: 400px;
  margin-left: 5px;
}

#date-validation {
  padding: 7px 12px;
  margin-left: 5px;
}

#package-payment-form{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.table-date{
  text-align: left;
  width: 600px;
  margin: 70px auto;
  padding-left: 40px;
}

