.col-right-boat {
  background-image: url('https://images.pexels.com/photos/533595/pexels-photo-533595.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  color: white;
  font-size: 34px;
}
