.footer {
  display:flex;
  justify-content: space-around;
  bottom: 0;
  background-color: #227799;
  color: white;
  padding: 16px;
}

.footer-elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 64px;
}

.footer h5 {
  font-size: 18px;
  font-weight: 700;
}

.footer

.footer-elements ul {
  font-size: 12px;
  padding: 0;
  list-style-type: none;
}

.footer-elements li {
  padding: 4px 0;
  font-size: 12px;
}

.footer-elements a {
  color: white;
}

.footer-networks a {
  padding: 4px;
}

.footer-networks a :hover {
  color: #FFD582;
}

.footer {
  #button-newsletter {
    padding: 4px;
    border: none;
    color: #3D3D3D;
    border-radius: 8px;
    height: 32px;
  }
  #name {
    border-radius: 8px;
    border: none;
    height: 32px;
  }
}

