.navbar-lewagon {
  background-color: transparent;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  transition: 0.5s background-color ease;
  z-index: 50;
}

// .navbar-inner-home {
//   background-color: transparent;
//   transition: 0.5s background-color ease;
// }

.fa-bars {
  color:white;
}

.navbar-nav {
  text-align: right;
  flex-direction: column-reverse;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  padding-bottom: 0rem !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand-title {
  color: white;
  margin-left: 14px;
  font-weight: unset;
  font-size: 1.25rem;
}

.nav-item {
  font-weight: unset;
  font-size: 1.25rem;
}

.navbar-blue {
  background-color: #227799;
}

.nav-link {
    color: white !important;
    margin-top: 0.2rem;
}

.nav-link:hover {
  color: #FFD582 !important;
}

.dropdown-menu {
  border-radius: 2px;
  border: none;
}

a.dropdown-item {
  color: #227799;
}

a.dropdown-item:hover {
  color: white;
  background: #FFD582;
}
