<div class="footer">

  <div class="footer-elements">

    <div class="footer-contact">
      <h5>Nos coordonnées</h5>
      <ul>
      <li><i class="fas fa-map-marker-alt"></i> 16 Villa Gaudelet 75011 Paris</li>
      <li><i class="fas fa-phone"></i> 01 23 45 67 89</li>
      <li><i class="fas fa-at"></i> contact@watchmyboat.com</li>
      </ul>
    </div>

    <div class="footer-menu">
      <h5>Plan du site</h5>
        <ul>
          <li><a href="https://www.watchmyboat.io">Home</a></li>
          <li><a href="https://www.watchmyboat.io">Mon tableau de bord</a></li>
          <li><a href="https://www.watchmyboat.io">Services</a></li>
          <li><a href="https://www.watchmyboat.io">Blog</a></li>
        </ul>
    </div>

    <div class="footer-newsletter">
      <h5>Newsletter</h5>
      <input type="text" id="name" placeholder="Email" name="name" required
       minlength="4" maxlength="8"  size="8">
      <input class="button" id="button-newsletter" type="button" value="Abonnez-vous">
    </div>

    <div class="footer-networks">
      <h5>Nos réseaux</h5>
      <a href="https://www.facebook.com/"><i class="fa-lg fab fa-facebook"></i></a>
      <a href="https://www.twitter.com/"><i class="fa-lg fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-lg fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/"><i class="fa-lg fab fa-linkedin-in"></i></a>
    </div>

  </div>

</div>
