<div class="footer">

  <div class="footer-elements">

    <div class="footer-contact">
      <h5>Nos coordonnées</h5>
      <ul>
      <li><i class="fas fa-map-marker-alt"></i> 3 bd de Belleville 75011 Paris</li>
      <li><i class="fas fa-phone"></i> 06 81 06 90 61</li>
      <li><i class="fas fa-at"></i> contact@watchmyboat.io</li>
      </ul>
    </div>

    <div class="footer-menu">
      <h5>Plan du site</h5>
        <ul>
          <li><a href="https://www.watchmyboat.io">Home</a></li>
          <li><a href="https://www.watchmyboat.io">Mon tableau de bord</a></li>
          <li><a href="https://www.watchmyboat.io">Services</a></li>
        </ul>
    </div>

    <div class="footer-newsletter">
      <h5>Newsletter</h5>
      <input type="text" id="name" placeholder="Email" name="name" required
       minlength="4" maxlength="30"  size="10">
      <input class="button" id="button-newsletter" type="button" value="Ok">
    </div>

    <div class="footer-networks">
      <h5>Suivez-nous</h5>
      <a href="https://www.facebook.com/"><i class="fa-lg fab fa-facebook"></i></a>
      <a href="https://www.twitter.com/watch_boat"><i class="fa-lg fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-lg fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/"><i class="fa-lg fab fa-linkedin-in"></i></a>
    </div>

  </div>

</div>
