<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <div style="height: 150vh">
        <div style="text-align: center;
        margin-bottom: 12px;">
          <img src="http://www.watchmyboat.io/assets/blue-logo-with-brandname-d68f288c7a1c76068c9147dd077fc7203a263cc400b2483022468c76e57e7850.png">
        </div>
        <div style="text-align: center;
        margin: 0 150px;
        font-size: 24px;
        font-family: arial;
        color: #3D3D3D;
        border-top: 0.5px solid lightgrey;
        border-bottom: 0.5px solid lightgrey;
        padding: 24px 0;
        padding-bottom: 50px;">
          <p style="text-align: left;
        margin: 20px; margin-bottom: 50px;"><strong>Bonjour <%= @booking.boat.owner.first_name %>,</strong><br><br>
          <%= @booking.boat.manager.first_name %> vient de terminer la visite mensuelle de votre bateau <strong>"<%= @booking.boat.name %>"</strong>.
            Retrouvez toutes les photos et le compte-rendu sur votre tableau de bord.<br><br>
          Merci pour votre confiance,<br>
          LՎquipe Watch My Boat<br></p>

            <a href="http://www.watchmyboat.io/dashboard" style="
            padding: 16px;
        background-color: #FFD582;
        color: #3D3D3D;
        border-radius: 8px;
        font-weight: bold;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        text-decoration: none;">Voir le compte-rendu</a>
        </div>
      </div>
    </body>
</html>
