<div class="banner">
  <div class="title">
    <h1><strong>Naviguez, on s'occupe du reste.</strong></h1>
    <h4>Toute l'année, votre concierge veille sur votre bateau</h4>
    <br>
    <%= link_to "Abonnez-vous", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
