<div class="banner">
  <div class="home-card">
    <h2 class="tagline"><strong>Naviguez,
      <br> on s'occupe du reste.</strong></h2>
    <h5 class=sub-tagline>Toute l'année, votre concierge veille sur votre bateau</h5>
    <ul class="home-list">
      <li>✔️ Visite mensuelle avec photo et compte-rendu</li>
      <li>✔️ Accès direct à votre concierge 24h/24</li>
      <li>✔️ Accès aux services premium</li>
    </ul>
    <h5 class="home-price">à partir de 19,99€ / mois</h5>
    <%= link_to "Abonnez-vous", new_user_registration_path, class: "btn btn-primary button btn-cent" %>
  </div>
</div>

