<h1>Dashboard du propriétaire</h1>

<div class="header">
  <div id="weather" data-lat="<%= @boat.latitude %>" data-lon="<%= @boat.longitude %>">
    <div id="topbox">
      <h1 id="city"><%= @boat.address %></h1>
      <h2 id="date"><%= l(Time.now, format: "%A %d %B - %Hh%M") %></h2>
      <p id="weather-sky">ciel</p>
    </div>

    <div id="bottombox">
      <img id="weather-img" src="" alt="image à afficher">
      <h2 id="weather-temp"> temperature</h2>
    </div>
  </div>
</div>


<div class="mosaic-container">
  <div class="mosaic-left">
    <img src="https://images.unsplash.com/photo-1559782035-bae22303f2c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.unsplash.com/photo-1559813800-e72c62ba08e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
    <img src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
    <img src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div>
  <div class="mosaic-right">
    <img src="https://images.unsplash.com/photo-1559762691-617a33825bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=600" alt="">
  </div>
</div>
