<h1>Dashboard du propriétaire</h1>

<div class="header">
  <div id="weather" data-lat="<%= @boat.latitude %>" data-lon="<%= @boat.longitude %>">
    <div id="topbox">
      <h2 id="city">Votre météo à <%= @boat.address %></h2>
      <img id="weather-img" src="" alt="image à afficher">
      <p id="weather-sky">ciel</p>
      <h2 id="weather-temp"> temperature</h2>
    </div>
  </div>
</div>

<!--       <h2 id="date"><%= l(Time.now, format: "%A %d %B - %Hh%M") %></h2>
 -->
