.card-show-packages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

 @media (max-width: 700px) {
  .card-show-packages-container {
    margin: 40px;
  }
}

.card-show-packages {
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .card-show-packages {
    width: 100%;
  }
}


.show-packages-card-top {
  padding: 30px;
}

.show-packages-card-top .show-packages-card-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 0 15px;
  min-width: 400px;
  color: #227799;
}

@media (max-width: 700px) {
  .show-packages-card-top .show-packages-card-item {
    min-width: 250px;
  }
}


.show-packages-card-bottom {
  background-color: #227799;
  padding: 15px 20px;
  border-radius: 5px;
}

.show-packages-card-bottom .show-packages-card-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 0 15px;
  min-width: 400px;
  color: white;
}

@media (max-width: 700px) {
  .show-packages-card-bottom .show-packages-card-item {
    min-width: 240px;
  }
}

.show-packages-card-text-title {
  margin: 0;
  font-size: 18px;
}

.show-packages-card-text-subtitle {
  margin: 0;
  font-size: 14px;
}

.show-packages-card-price {
  font-size: 18px;
  height: 45px;
}



