.form-container {
  background-color: white;
  width: 100%;
}

.form-text-image {
  position: absolute;
  top: 82px;
}

.col-left {
  height: 820px;
}

.content-left {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 85px;
  color: #227799;
}

.form-actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.form-actions .btn {
  background-color: #FFD582;
  color: white;
  // position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  // right: -500px;
}

.form-actions .btn:hover {
  background-color: white;
  color: #FFD582;
  border: 1px solid #FFD582;
}

.form-actions p {
  font-weight: bold;
}

.form-inline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-inline label {
  margin-bottom: 0.5px;
}

.input-inline {
  width: 47%;
}

.collection_radio_buttons {
  margin-bottom: 0px;
  margin-left: 2px;
}






