.form-container {
  background-color: white;
  width: 100%;
}

.text-image {
  position: absolute;
  top: 82px;
}

.col-left {
  padding-bottom: 80px;
}

.content-left {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 85px;
  color: #227799;
}

.form-actions .btn {
  background-color: #FFD582;
  color: white;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  right: -500px;
}

.form-actions .btn:hover {
  background-color: white;
  color: #FFD582;
  border: 1px solid #FFD582;
}

.form-inline {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-inline {
  width: 47%;
}





